<button 
  type="button" 
  class="btn btn-outline-primary"
  {{on "click" this.triggerRefresh}}
  disabled={{this.isRefreshing}}
>
  {{#if this.isRefreshing}}
    <span class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Refreshing...</span>
    </span>
  {{else}}
    <i class="bi bi-arrow-clockwise"></i>
  {{/if}}
</button>